.red {width:77%; height:65%; background-color: red; position: absolute;}

.white1 {width:20%; height:25%; background-color: white; position: absolute;}

.white2 {width:20%; height:35%; background-color: white; position: absolute;}

.blue {width:20%; height:32%; background-color: blue; position: absolute;}

.white3 {width:60%; height:32%; background-color:white; position: absolute;}

.white4 {width:14%; height:14%; background-color:white; position: absolute;}

.yellow {width:14%; height:14%; background-color:yellow; position: absolute;}

.black {width: 100%; height: 100%; background-color:black; position: fixed; top: 10px;}



